body {
  background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
    );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex; /* Deixa o site responsivo */
    flex-direction: column; /* Organiza os elementos em colunas */
    align-items: center;
    justify-content: center;
    margin: 0;
}

div {
  line-height: 1;
}

button {
  font-size: 1.75em;
  cursor: pointer;
}

button:hover {
  transform: scale(1.15);
}

button:active {
  color: gray;
}

#time-info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  font-size: .85em;
}

#main-content {
  display: flex;
  flex-direction: row;
}

#below-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75em;
}

#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#play {
  font-size: 4em; 
}

#cover {
  height: 375px;
  width: 375px;
}

#playlist {
  text-align: center;
  font-size: 1em;
  margin: 1em 0 2em;
}

#song-name {
  font-size: 1.75em;
  font-weight: bold;
}

#progress-bar {
  height: 3px;
  background-color: gray;
  border-radius: 20px;
}

#progress-container {
  width: 375px;
  cursor: pointer;
  margin: 1em 0;
  padding: 1em 0;
}

#progress {
  --progress: 0%;
  height: inherit;
  background-color: white;
  border-radius: inherit;
  width: var(--progress);
}

.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.low-opacity {
  opacity: 0.6;
}

.navigate {
  font-size: 3em;
}

.active {
  color: #1DB954;
}